.tasks-page{
    padding:30px;
}

/* TOPO */

.tasks-toolbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
}

.tasks-toolbar h1{
    font-size:28px;
    font-weight:800;
}

.tasks-toolbar p{
    color:var(--gray-500);
    margin-top:5px;
}

/* FILTROS */

.filters{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
    flex-wrap:wrap;
    gap:15px;
}

.filter-group{
    display:flex;
    gap:10px;
}

.filter-btn{

    padding:8px 16px;

    border-radius:999px;

    background:var(--white);

    border:1px solid var(--gray-200);

    transition:var(--transition);

    font-weight:600;

}

.filter-btn:hover{

    background:var(--primary-light);

    color:var(--primary);

}

.filter-btn.active{

    background:var(--primary);

    color:white;

}

/* LISTA */

.tasks-list{

    display:flex;

    flex-direction:column;

    gap:15px;

}

.task-item{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px;

}

.task-item:hover{

    transform:translateY(-3px);

}

/* ESQUERDA */

.task-left{

    display:flex;

    align-items:center;

    gap:18px;

}

.task-check{

    width:22px;

    height:22px;

    border-radius:6px;

    border:2px solid var(--gray-300);

}

.task-info h3{

    font-size:17px;

    margin-bottom:6px;

}

.task-info p{

    color:var(--gray-500);

    font-size:14px;

}

/* DIREITA */

.task-right{

    display:flex;

    align-items:center;

    gap:15px;

}

.task-date{

    color:var(--gray-500);

    font-size:13px;

}

.task-check.checked{
    background:var(--primary);
    border-color:var(--primary);
    position:relative;
}

.task-check.checked::after{
    content:"✓";
    color:white;
    font-size:13px;
    font-weight:900;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}